*,*::before, *::after{margin: 0;padding: 0;
                        box-sizing: border-box;/*Mejor control de ancho/alto .*/
                        }

html, body {width: 100%;
        height: 100%;
        overflow-x: hidden; /*  Elimina scroll horizontal */
        background-color:fff;
        }


/* ----------------------ESTE ES EL APARTADO DEL FONDO DE LA PAGINA WEB----------------------------*/
.fondo-video {position: fixed;
                top: 0;
                left: 0;
                width: 100vw;         /*  Usar viewport width */
                height: 100vh;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                z-index: -1;
        }

.fonvideo {width: 100vw;         /* Ajuste exacto al ancho visible */
        height: 100vh;
        object-fit: cover;    /*  Ocupa todo, sin deformarse */
        }



/* ----------------------AQUI COMIENZA EL HEADER------------------------------------*/

header{width: 100%;height: auto;}


.titulo{ text-align: center; margin-top:40px;
        font-family: "MedievalSharp", cursive;
        font-weight: 100;
        font-style: normal;
        font-size: 50px;
        color:transparent;
        background: linear-gradient(to right, #ffff1a,#efe4a4,#ffda05);
        background-clip: text;
        }

nav{width: 100%;display: block;text-align: center;margin-top: 20px;}

.botones{margin: 15px;text-align: center;width:150px;
        color:transparent;
        font-family: "MedievalSharp", cursive;
        font-weight: 900;
        font-style: normal;
        font-size: 20px;
        background: none;
        cursor: pointer;
        border: none;
        background: linear-gradient(to right, white,#fd3131,white);
        background-clip: text;
        
        }
.botones:hover{color:transparent; 
        background: linear-gradient(to right, #ffff1a,#efe4a4,#ffda05);
        background-clip: text;            
        }
.botones:active{color: rgb(39, 38, 38); }
/*---------------ESTE ES EL MAIN GLOBAL----------*/
main{position: relative;
        z-index: 1;
        min-height: 100vh;
        text-align: center;
        margin: 5px auto;
        width: 100%;
        height: auto;
        }

/* ------------------AQUI COMIENZA EL MAIN DEL INDEX-------------------------*/

.pergamino{width:70%; padding: 20px;margin: 20px auto;
        }

.h{margin:15px auto;color: #f1f188;
        font-family: "MedievalSharp", cursive;
        font-weight: 400;
        font-style: normal;
        }

.contenido {margin: 5vw auto;width:90%;text-align: center;
        justify-content: center;
        color:  #ffda05; font-size: 16px;
        font-family: "Cinzel", serif;
        font-optical-sizing: auto;
        font-weight: 200;
        font-style: normal;}
            
.libro666{width:30vw;height:30vh;margin: 20px auto;}
.imagendelibro{width: 100%;height:100%;}

/*---------------AQUI COMIENZA DEL APARTADO RUTAS PARANORMALES--------------------------*/

/*------Estos son las imgs que funcionan como botones-------------*/

.galeria{width: 80%;margin:auto;display: flex;justify-content: center;}
    
.contenedor{width: 200px; height: 150px;
                margin: 5px;
                overflow: hidden;
                display: inline-block;
                border: radius 15px;}

.botonimg{width: 80px;height:80px;border-radius: 15px;margin: auto ;
        cursor: pointer;}

.botonimg:hover{width: 150px;height: 100px;opacity: 50%;}
.botonimg:active{transform: rotateY(180deg);}

    /*----Esto son las secciones de rutas------------*/
  
.cainsolita{width: 300px;height: 350px;margin: 15px;border-radius: 20px;transition:opacity 2s ease-in-out;cursor: pointer; }
.cainsolita:hover{opacity: 15%; }

.rutasmis{width: 400px;height: 300px; margin: 10px;border-radius: 20px;transition:opacity 2s ease-in-out;}
.rutasmis:hover{opacity: 15%;}

.hhh{color:#f1f188 ;margin: 5px;
        font-family: "Cinzel", serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
        }
  
.parrafos{width: 100%;margin: 5px auto;
        font-size: 20px;
        color:transparent;
        background: linear-gradient(to right,white,#faa4a4,white);
        background-clip: text;
        text-align: justify;}
  
.Catalunyainsolita{margin: 5px auto;text-align: center;
                        font-family: "MedievalSharp", cursive;
                        font-weight: 200;
                        font-style: normal;
                        font-size: 18px;
                        }

/*---este es el orbe que va de un la do al otro de la pantalla------*/
.Catalunyainsolita::before {border-radius: 90%;
                        box-shadow: 0 0 6px 0 #000, 0 0 3px 0 #0000004d inset, 0 0 5px 0 #00000099 inset;
                        content: "";
                        display: block;
                        left: 5px;
                        height: 30px;
                        top: 12px;
                        transition: all 5s ease-in-out;
                        width: 10px;
                        background-position-x: center;
                }

.Catalunyainsolita:hover::before {background: linear-gradient(90deg, #ffffff00 0%, #ffffffff 100%);
                                box-shadow: 0 0 6px 0 #fff, 0 0 3px 0 #eee inset, 5px 0 3px 0 rgba(253, 168, 168, 0.5) inset;
                                content: "";
                                left: 100%;
                                opacity: 0;
                                width: 100%;
                }
/*-------------------------------------------------------*/
.pamigas{margin: 15px;text-align: center;padding: 10px;
        color:transparent;
        font-family: "MedievalSharp", cursive;
        font-weight: 900;
        font-style: normal;
        font-size: 18px;
        background: none;
        cursor: pointer;
        border: none;
        background: linear-gradient(to right, #fdf8f8,#ff0000,#f5eded);
        background-clip: text;
        }
.pamigas:hover{color:transparent; 
                background: linear-gradient(to right, #ffff1a,#efe4a4,#ffda05);
                background-clip: text;            
        }
.pamigas:active{color: rgb(39, 38, 38); }

h6{color: #ffda05 ;
        font-family: "Cinzel", serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;}

/*------------------AQUI COMIENZA LA SECCION DE LA BIBLIOTECA-------------------------------*/

.contenedor-libreria {width: 100%;
                        margin: 10px auto;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        gap: 20px;
                        padding: 10px;
                        box-sizing: border-box;
                        }

.libross {height: auto;
        border-radius: 25px;
        font-family: 'Trebuchet MS', sans-serif;
        background: linear-gradient(to right, #000000ab,#390101,#000000ab);
        width: 90%;
        max-width: 300px;
        margin: 10px;
        }

.libross img{ width:100%;
                height: 100%;
                border-radius: 25px;
                text-align: center;
                object-fit: cover;
                border-radius: 15px;
                transition: transform 0.3 ease-in-out;
                }

.imgtapalibro{width: 200px; height: 300px;margin: 5px auto; overflow: hidden;cursor: pointer;
}

article p{font-family: "MedievalSharp", cursive;
        font-size: 18px;
        list-style-type: none;
        color:#d1f8cf  ;
        object-fit: cover;
        letter-spacing: 2px;
        margin: 5px auto;
        }
        

h4{color:#f1f188 ;margin: 5px;
        font-family: "Cinzel", serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
        width: 50%;
        margin: 5px auto;
        }

.contenedor-parrafos{width: 13vw; margin: 5px auto;}
.imgtapalibro img:hover{transform: scale(1.05);
                        }


/*------------------------------------------------------------------------*/  
form { width: 40%;
        margin: 80px auto;
        box-sizing: border-box;
       
        font-size: 14px;
        color: #ffff1a;
        border-radius: 20px;
        }

form, legend, label, span a, input, .areatexto, .click1 {font-family: "MedievalSharp", cursive;}

legend, span a, .click1 { font-optical-sizing: auto;
                        font-style: normal;
                        }

fieldset { width: 90%;
        margin-top: 20px;
        padding: 25px;
        border-radius: 15px;
        border: 1px solid rgba(0, 0, 0, 0);
        background:  linear-gradient(to right, #390101f3,#000000a2 ,  #000000f4,#00000097,#390101f3);
        }

legend {font-size: 24px;
        font-weight: 300;
        text-align: left;
        }

label { display: flex;
        align-items: center;
        }

span a {text-align: left;
        width: 100px;
        letter-spacing: 1px;
        color: #f1f188;
        }

input { width: 60%;
        margin: 10px;
        padding: 4px;
        border-radius: 8px;
        border: 1px dotted rgba(0, 0, 0, 0);
        letter-spacing: 2px;
        color: #f1f188;
        background-color: #00000000;
        }

.areatexto { width: 80%;
                height: 150px;
                border-radius: 10px;
                padding: 5px;
                font-size: 14px;
                list-style-type: none;
                color: #f1f188;
                background-color: #00000000;
                border: 3px dotted rgba(42, 1, 1, 0.525);
                object-fit: cover;
                letter-spacing: 2px;
                margin: 5px auto;
                font-weight: 300;
                }

.click { width: 50px;}

.politicas {margin: 10px auto;}

.poli { margin: auto; 
        display: flex;
        width: 50%;
        }

.click1 { width: 80px;
        margin: 10px;
        border: 1px solid black;
        background-color: green;
        font-optical-sizing: auto;
        font-weight: 900;
        letter-spacing: 3px;
        font-size: 16px;
        border-radius: 5px;
        animation: transform 0.5 ease-in-out;
        box-shadow: 4px 3px 0 #2d2d2dfe;
        }

[type=submit]:hover{ background-color: #00ff00b6;
                color:#ffda05;;
                }

[type=submit]:active{transform: translate(4px,3px);
                box-shadow: 0 0 0 transparent;
                color:#00ff00b6;
                background:  linear-gradient(to right, #000000fc, #390101f3, #000000f4)}

.contenedorContacto{color: white;border: 1px solid black;
                width: 20vw;margin: 10px auto;margin-top: 20px;
                border-radius: 20px;
                background:  linear-gradient(to right, #390101f3,#000000f4 ,  #000000f4,#000000f4,#390101f3);
                box-shadow: 0 0 10px;
                }

address{text-align:center;
        margin: 10px;
        padding: 10px;
        font-size: 1.3rem;
        }

ol li{margin-top: 10px;
        list-style-type: none;}             


/*-----------AQUI COMIENZA EL FOOTER----------------------------------------*/

footer {text-align: center;
        color: #ffda05;
        font-size: 1.1rem;
        margin: 0;
        padding: 20px;
        width: 100%;
        }

.footer-container {display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
                gap: 30px;
                }

.imagenfoote {width: 150px;
                height: 200px;
                overflow: hidden;
                position: relative;
                transition: box-shadow 2s ease;
                box-shadow: 0 1em 0.5em -0.5em rgba(173, 216, 230, 0.11);
                }

.imgfooter {width: 100%;
                height: 100%;
                object-fit: cover;
                transition: transform 2s ease-in-out, opacity 1s ease-in-out;
                opacity: 80%;
                transform: translateY(5rem);
                }

.imagenfoote:hover .imgfooter {transform: translateY(0rem);
                                opacity: 50%;
                                }

.imagenfoote:hover {box-shadow:
                        0 1em 0.5em -0.5em #0c0c0cf9,
                        0 1em 0.5em -0.5em #add8e648,
                        0 1em 0.5em -0.5em #4b177bd5;
                }

.botonesNav {display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
        }

.botonfoter,a {font-family: "MedievalSharp", cursive;
                font-weight: 100;
                font-size: 1.3rem;
                background: none;
                border: none;
                cursor: pointer;
                color: transparent;
                background: linear-gradient(to right, white, #f7a1a1, white);
                background-clip: text;
                margin: 5px 0;
                }

.botonfoter:hover {box-shadow: 0 0.5em 0.5em -0.4em white;
                transform: translateY(-0.25em);
                background: linear-gradient(to right, #ffff1a, #efe4a4, #ffda05);
                background-clip: text;
                }

.derecho {margin-top: 15px;
        font-size:1.1rem;
        }

.redes {display: flex;
        flex-direction: column;
        align-items:center;
        gap: 10px;
        width: 150px;
       }

.redes h5 {font-size: 1rem;
        margin-bottom: 10px;
        }

ul {list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 10px;
        }

ul li a {font-family: "MedievalSharp", cursive;
                font-size: 1.5rem;
                color: transparent;
                background: linear-gradient(to right, white, #f7a1a1, white);
                background-clip: text;
                text-decoration: none;
              }

ul li a:hover {box-shadow: 0 0.5em 0.5em -0.4em white;
                transform: translateY(-0.25em);
                background: linear-gradient(to right, #ffff1a, #efe4a4, #ffda05);
                background-clip: text;
                }




/*================ MEDIA QUERIES ================*/
@media(min-width:320px){

 .parrafos{width: 80%;}
}

@media(min-width:481px){
        .titulo{ font-size: 60px;}
        .contenido {width: 60%;}
        form {width: 90%;}
        .poli {width: 90%;}
        .areatexto {width: 100%;}
        .click1 {width: 100%;}
        .contenedorContacto {width: 90%;}
}
     
@media(min-width: 500px) {
        .titulo{font-size: 90px}
        .h{font-size: 30px;}
        .contenido{font-size: 18px;}
        form {width: 80%;}
        .poli {width:80%}
        .areatexto {width: 90%;}
        .click1 {width: 90px;}
        .contenedorContacto {width: 80%;}
}
           


@media(min-width:700px){
        .libross { width: 45%;}
         .parrafos{width: 60%;}
        form {width: 60%;}
        .poli {width: 60%;}
        .areatexto {width: 85%;}
        .click1 {width: 100px;}
        .contenedorContacto {width: 60%;}
}


@media (min-width: 1024px) {
        .libross {width: 30%;}
        form {width: 40%;}
        .poli {width: 50%;}
        .areatexto {width: 80%;}
        .click1 {width: 120px;}
        .contenedorContacto {width: 30vw;}
}


