    * {margin: 0;
        padding: 0;
        box-sizing: border-box;/*Modifica el modelo de caja para que width y height incluyan padding y border, facilitando el control del tamaño real de los elementos.*/
        }

html,body{width: 100vw;height: 100vh;}/*overflow: hidden; => para no generar scroll a la pagina*//*  Se aplican estilos tanto al elemento raíz como al cuerpo. */

/* ----------------------ESTE ES EL APARTADO DEL FONDO DE LA PAGINA WEB----------------------------*/

.fondo-video {position: fixed;/* Lo fija en la pantalla (no se mueve al hacer scroll). */
                top: 0;       /* Alinea el contenedor en la esquina superior izquierda.*/
                left: 0;
                width: 100%;
                height: 100vh;
                overflow: hidden;/* oculta cualquier contenido que salga de sus limites*/
                z-index: -1; /*Envía el contenedor detrás de los demás elementos, útil para que sea solo un fondo.*/
                }
#bg-video {width: 100%;
            height: 100%;
            object-fit: cover;/* Hace que el video rellene completamente el contenedor manteniendo su proporción y recortando lo necesario, como si fuera una imagen de fondo.  */
            }

/* ----------------------AQUI COMIENZA EL HEADER------------------------------------*/

header{width: 100%;height: auto;}


.titulo{color:#c6a664; text-align: center; margin-top:40px;
        font-family: "MedievalSharp", cursive;
        font-weight: 600;
        font-style: normal;
        font-size: 80px;
        }

nav{width: 100%;display: block;text-align: center;
    margin-top: 20px;}

button{margin: 15px;text-align: center;width:10%;
        color:rgb(243, 158, 158);
        font-family: "MedievalSharp", cursive;
        font-weight: 900;
        font-style: normal;
        font-size: 18px;
        background: none;
        cursor: pointer;
        border: none;
        }
/*---------------ESTE ES EL MAIN GLOBAL----------*/
main{width: 100%;height: auto;margin: 15px;}

/* ------------------AQUI COMIENZA EL MAIN DEL INDEX-------------------------*/

.pergamino{width:70%; padding: 20px;margin: 20px auto;
           }

.h{margin:50px;color: #f1f188; text-align: center;
    font-family: "MedievalSharp", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    }

.contenido{margin: 10px;width: 50%;margin-left:20%;text-align: center;
            color:  #ffda05; font-size: 16px;
            font-family: "Cinzel", serif;
            font-optical-sizing: auto;
            font-weight: 200;
            font-style: normal;}



/*-----------AQUI COMIENZA EL FOOTER----------------------------------------*/

footer {margin: 20px auto;width: 90%;text-align: center;
        color:  #f1f188; font-size: 18px;
        font-family: "Cinzel", serif;
        font-optical-sizing: auto;
        font-weight: 200;
        font-style: normal;
        }
